/* global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-family: inherit;
    font-size: 10px;
}
header, section, footer, aside, nav, main, article, figure {
    display: block;
}
/* header */
.header__img{
    display: flex;
    justify-content: space-around;
    align-items: center
}
.header__img img {
    width: 20%
}

.header::after{
    content: '';
    display: block;
    height: 0.1rem;
    width: 100%;
    background-color: black;
    margin-bottom: 2rem
}
/* nav */
.nav::after{
    content: '';
    display: block;
    height: 0.1rem;
    width: 100%;
    background-color: black;
    margin-top: 2rem
}
.nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center
}
.nav ul li a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #847474;
    font-weight: bold;

}
.nav ul li a:hover::after{
    content: '';
    display: block;
    height: 0.5rem;
    width: 100%;
    background-color: red;
    transform: translateY(0.6rem)
}
.nav ul li:nth-child(1) a::after{
    content: '';
    display: block;
    height: 0.5rem;
    width: 100%;
    background-color: red;
    transform: translateY(0.6rem)
}
/* carousel */
.carousel{
    margin-top: 1.5rem;
}
.carousel img{
    width: 100%;
    height: auto;
}
/* intro */
.intro{
    margin-top: 2.5rem;
    text-align: center;
}
.intro__h2{
    font-size: 2.9rem
}
.intro__p{
    font-size: 1.8rem
}
