/* global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-family: inherit;
    font-size: 10px;
}
header, section, footer, aside, nav, main, article, figure {
    display: block;
}
/* header */
.header__img{
    display: flex;
    justify-content: space-around;
    align-items: center
}
.header__img img {
    width: 20%
}

.header::after{
    content: '';
    display: block;
    height: 0.1rem;
    width: 100%;
    background-color: black;
    margin-bottom: 2rem
}
/* nav */
.nav::after{
    content: '';
    display: block;
    height: 0.1rem;
    width: 100%;
    background-color: black;
    margin-top: 2rem
}
.nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center
}
.nav ul li a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #847474;
    font-weight: bold;

}
.nav ul li a:hover::after{
    content: '';
    display: block;
    height: 0.5rem;
    width: 100%;
    background-color: red;
    transform: translateY(0.6rem)
}
.nav ul li:nth-child(1) a::after{
    content: '';
    display: block;
    height: 0.5rem;
    width: 100%;
    background-color: red;
    transform: translateY(0.6rem)
}
/* carousel */
.carousel{
    margin-top: 1.5rem;
}
.carousel img{
    width: 100%;
    height: auto;
}
/* intro */
.intro{
    margin-top: 2.5rem;
    text-align: center;
}
.h2{
    font-size: 2.9rem
}
.intro__p{
    font-size: 1.8rem
}
/* handbill */
.handbill{
    margin-top: 12rem;
    text-align: center
}
.handbill__content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 0px auto;
    margin-top: 1.5rem;
    text-align: center
}
.handbill__items h3{
    color: red;
    margin-bottom: 0.8rem;
    font-size: 1.7rem;
    margin-top: 0.5rem
}
.handbill__items p{
    font-size: 1.6rem
}
/* event */
.event{
    text-align: center;
    margin-top: 12rem;
}
.event__content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 0px auto;
    color: white;
}
.event__items , .event__left{
    position: relative;
}
.event__content p{
    font-size: 1.6rem
}
.event__bgcontent{
    width: 100%;
    height: auto;
    background-color:rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
    
}
.event__right{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem
}
/* footer */
.footer{
    background-image: url("../img/bg_banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 40rem;
    margin-top: 6rem;
}
.footer__content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
    width: 95%;
    margin: 0 auto;
}

.footer__link{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:60%
}
.footer__link ul {
    list-style: none;
}
.footer__link ul li a {
    font-size: 2rem;
    text-decoration: none;
    color: #E2AFB2;
}
.footer__link ul li a:hover{
    color: white
}
.footer__link ul li{
    padding: 0.6rem
}
.footer__dowload{
    color: #E2AFB2;;
    font-size: 2rem
}
.footer__link--3 ul li{
    color: #E2AFB2;;
    font-size: 2rem
}
